<div class="row">
    <div class="col-12">
        <div class="page-title-box p-0 d-sm-flex align-items-center justify-content-between pr-2 mr-2">
            <ul ngbNav #Arrow="ngbNav" [activeId]="activeTab" class="nav arrow-navtabs nav-pills nav-success bg-light">
                @for (link of links; track link) {
                <li [ngbNavItem]="link.fragment" style="width: 500px;">
                    <a ngbNavLink [routerLink]="link.fragment" class="rounded-0" (click)="activeTab=link.fragment;">
                        <span class="d-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                        <span class="d-sm-block">{{link.title}}</span>
                    </a>
                </li>
                }
            </ul>

            <div class="page-title mr-2">
                <ol class="breadcrumb pr-2 m-0">
                    @for ( item of breadCrumbItems; track $index) {
                    <ng-container>
                        <li class="breadcrumb-item" [ngClass]="{'active': item.active == true}">{{ item.label }}
                    </li>
                </ng-container>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
