.outer{
  margin: 50px;
}
#edit-form{
  width: 800px;
}
.checkbox{
  margin: 0px;
  padding: 0px;
}
#received,#sent{
  margin-left: 20px;
}
.form-control,.form-select{
  width: 300px;
}
form{
  line-height: 2;
}
