<div class="outer">
    <h2>Create Project</h2>
    <h4 style="color: grey;margin-bottom: 20px">Please fill all information below </h4>
    <form action="" id="create-form">
        <div class="row mb-3">
            <div class="col-lg-3">
                <label for="company-name" class="form-label">Company Name</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="company-name"  required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3">
                <label for="floatingSelect" class="form-label">Type of Glass</label>
            </div>
            <div class="col-lg-9">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                    <option ></option>
                    <option value="1">Type A</option>
                    <option value="2">Type B</option>
                    <option value="3">Type C</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3">
                <label for="date" class="form-label">Estimated Date of Arrival</label>
            </div>
            <div class="col-lg-9">
                <input type="date" class="form-control" id="date" placeholder="Enter your date" required>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="submit" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>
