#create-form{
  width: 1000px;
}
#create-form input,select{
  width: 400px;
}
button{
  margin-left: 10px;
}
.outer{
  margin: 50px;
}
.text-end{
  float: left;
  margin-left: 500px;
  margin-bottom: 20px;
}
